# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# Raw image data
parent/
*.tif
*.tiff

# Model checkpoints and outputs
models/
*.pth
*.pt
*.ckpt

# Results
evaluation_results/
outputs/
runs/
logs/

# Large compressed files
*.zip
*.tar
*.gz
.vscode/
data/processed/
