# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# VS Code
.vscode/

# Raw image data
parent/
*.tif
*.tiff

# Processed data
data/processed/

# Model checkpoints only
*.pth
*.pt
*.ckpt

# Results / outputs
evaluation_results/
outputs/
runs/
logs/

# Large compressed files
*.zip
*.tar
*.gz
